@page "/army"
@inject IUnitService UnitService

<h3>My Army</h3>

@if(UnitService.Units.Count > 0)
{
<div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title text-success">@UnitService.MyUnits.Count(u => u.UnitId == 1)</h1>
                    <p class="card-text">Nbr. of Knights</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title text-warning">@UnitService.MyUnits.Count(u => u.UnitId == 2)</h1>
                    <p class="card-text">Nbr. of Archers</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title text-danger">@UnitService.MyUnits.Count(u => u.UnitId == 3)</h1>
                    <p class="card-text">Nbr. of Mages</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title text-info">@UnitService.CountTotalHitPoints()</h1>
                    <p class="card-text">Total HitPoints</p>
                </div>
            </div>
        </div>
</div>

<table class="table">
    @foreach (var userUnit in UnitService.MyUnits)
    {


        <tr>
            <td>
                @switch (userUnit.UnitId)
                {
                    case 1:
                        <img src="icons/knight.png" />
                        break;
                    case 2:
                        <img src="icons/archer.png" />
                        break;
                    case 3:
                        <img src="icons/mage.png" />
                        break;
                }
            </td>
            <td>
                @UnitService.Units.First(unit => unit.Id == userUnit.UnitId).Title
            </td>
            <td>
                @userUnit.HitPoints HP
            </td>
        </tr>
    }
    </table>
    <center>
        <button class="btn btn-warning" @onclick="ReviveArmy">Revive Your Army for 1000 Bananas</button>
    </center>
}
else
{
    <span>Loading Units ...</span>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await UnitService.LoadUnitsAsync();
        await UnitService.LoadUserUnitsAsync();
    }

    public async Task ReviveArmy()
    {
        await UnitService.ReviveArmy();
    }
}
